.captcha-container {
    padding: 20px;
    width: 70%;
    margin: 3rem 20rem;
  }
  
  .captcha-search-bar {
    margin-bottom: 10px;
  }
  
  .captcha-search-bar input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .captcha-toolbar {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
  }
  
  .captcha-toolbar button {
    padding: 6px 12px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .captcha-toolbar button:hover {
    background-color: #e2e2e2;
  }
  
  .captcha-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .captcha-table th,
  .captcha-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .captcha-table th {
    background-color: #f4f4f4;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .captcha-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  